page-root {
    .fondo
    {
        background-image: url('../../assets/images/inventarioFondo3.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    ion-row {
        text-align: center;
    }

    
}
