page-shopping-list {
    .fondo
    {
        background-image: url('../../assets/images/listainventarioFondo.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    .item-md
    {
        background-color:rgba(0,0,0,0.1);
    }
}
